/* common settings and general structure*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.fl{
  float: left;
}

.fr{
  float: right;
}

body{
  font-family: 'Lato', sans-serif;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-image:
  linear-gradient(to bottom,
  #009688 0px,
  #009688 15vh,
  #dddbd1 15vh,
  #d2dbdc 100%);
}

.container {
  width: 80%;
  min-width: 950px;
  margin: auto;
  height: 95%;
}

.left {
  width: 35%;
  background-color: yellow;
  border-right: 1px solid blue;
}

.right {
  width: 65%;
}

.left, .right {
  float: left;
  height: 100%;
}

.header-left,
.header-right {
  width: 100%;
  height: 70px;
  background-color: red;
}

.container-messages {
  width: 100%;
  height: calc(100% - 70px - 70px);
}

.footer {
  width: 100%;
  height: 70px;
  background-color: green;
}
/* fine common settings and general structure*/

/* inizio internal structure */

/* header top */
.logo-left img,
.logo-right img {
  width: 50px;
  height: 50px;
  margin: 10px 0 10px 10px;
  border-radius: 50%;
}

.logo-left,
.icons-left,
.logo-right,
.icons-right {
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
  cursor: pointer;
}

.icons-left,
.icons-right {
  text-align: right;
  width: auto;
  margin-right: 20px;
}

.icons-left i,
.icons-right i {
  margin: 0 10px;
  font-size: 20px;
}

.logo-left h3 {
  margin-left: 5px;
}

.logo-right h3 {
  margin-left: 10px;
}

/* sidebar left (notice search and contacts)*/
.notice-left {
  display: flex;
  width: 100%;
  height: 70px;
  background-color: azure;
}

.notice-left-logo {
  width: 50px;
  height: 50px;
  margin: 10px 0 10px 20px;
  border-radius: 50%;
  background-color: orange;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  color: azure;
}

.notice-left-text {
  padding: 0 10px;
  margin: auto;
  width: calc(100% - 50px);
}

.notice-left-text a {
  font-size: 13px;
  color: lightgrey;
}

.notice-left-text h3 {
  font-size: 16px;
}

.search-left {
  width: 100%;
  height: 50px;
  background-color: blue;
}

.search-left-input {
  width: calc(90% - 7px);
  margin: 7px 7px 7px 0;
  height: 35px;
  padding: 0 10px;
  border: 0;
}

.search-label{
  width: calc(10% - 7px);
  margin: 7px 0 7px 7px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background-color: #fff;
  display: inline-block;
  color: lightgrey;
  border: 0;
}

.contact-list {
  width: 100%;
  height: calc(100% - 60px - 50px - 80px);
  background: #fff;
  overflow-y: scroll;
}
